.main-content {
  background-color: var(--gray-100);
  margin-top: 2.4rem;
}

.main-content > h2 {
  color: var(--purple-500);
  text-align: center;
  margin-top: 2.8rem;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--purple-50);
  border-radius: 1.6rem;
  margin-top: 2.4rem;

  padding: 1.6rem 2rem 2.4rem 2rem;
}

.card-group > h2 {
  color: var(--purple-850);
  align-self: baseline;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-100);
  padding: 2rem;
  width: 90%;
  height: 18rem;
  margin: auto;
}

.card img {
  width: 8rem;
  height: 9rem;
}

.card h3 {
  font-weight: 500;
  color: var(--black-900);
  margin-top: 8px;
}

.card p {
  color: var(--gray-400);
}

@media screen and (max-width: 797px) {

  .btnStart{
    display: none;
  }

  .btnStartMain {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }

  .homeMain {
    background: url('/src/public/img/cloud-mobile.svg') no-repeat;
    background-size: contain; 
    background-position: center 2rem; 
  }

  .left-content {
    margin-top: 10vh;
  }

  .right-content {
    margin-top: 8rem;
  }

}

@media screen and (min-width: 798px) {

  .homeMain {
    max-width: 2000px;
    margin-top: 4rem;
    background: url('/src/public/img/cloud-desktop.svg') no-repeat;
    background-size: contain; 
    background-position: center 0rem;

  }
  
  .left-content {
    margin-top: -12rem;
  }

  .btnStartMain {
    display: none;
  }

  .main-content {
    color: var(--black-900);
  }

  .main-content > h2 {
    font-size: 3.2rem;
    margin-bottom: 3.6rem;
  }

  .card-group {
    max-width: 120rem;
    padding: 3rem 2rem 3rem 2rem;

    margin: auto;
  }

  .card-group > h2 {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }

  .card-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .card {
    width: 25rem;
    height: 24rem;
  }

  .card img {
    width: 9rem;
    height: 10rem;
  }

  .card h3 {
    margin-top: 1.8rem;
  }

}