section:nth-child(2){
  background-color: var(--gray-0);
  padding-top: 1.6rem;
  position: relative;
  z-index: 4;
}

section.main-content {
  background-color: var(--gray-100);

  padding: 1.6rem 1.6rem 2rem 1.6rem;
  border-radius: 0 0 1.6rem 1.6rem;
}

section .btnStartMain {
  width: 90%;
  margin: auto;
}

.main-content {
  margin-top: 1.6rem;
}

.main-content > h2 {
  color: var(--purple-500);
  text-align: center;
  margin-top: 2.8rem;
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  background-color: var(--purple-50);
  border-radius: 1.6rem;
  margin-top: 2.4rem;

  padding: 1.6rem 2rem 2.4rem 2rem;
}

.card-group > h2 {
  color: var(--purple-850);
  align-self: baseline;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--purple-100);
  padding: 2rem;
  width: 90%;
  height: 18rem;
  margin: auto;
}

.card img {
  width: 8rem;
  height: 9rem;
}

.card h3 {
  font-weight: 500;
  color: var(--black-900);
  margin-top: 8px;
}

.card p {
  color: var(--gray-400);
}

/* ------- Main | 2º conteúdo   ------- */

section.main-content-2 {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  background-color: var(--pink-500);
  border-radius: 0 0 1.6rem 1.6rem;
  margin-top: -2rem;
  padding: 3.6rem;
  position: relative;
  z-index: 3;
}

.main-content-2 .titleSection {
  color: var(--gray-0);
}

.main-content-2 div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content-2 div img {
  max-width: 15rem;
}

.main-content-2 div h3 {
  font-weight: 600;
  text-align: center;
  margin-top: 1.6rem;
}

.main-content-2 div p {
  font-size: 1.4rem;
  margin-top: 4px;
  margin-bottom: 2.4rem;
}

.main-content-2 div ul {
  max-width: 40rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  justify-content: center;
  list-style: none;
}

.main-content-2 div li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.main-content-2 i {
  font-size: 2rem;
  color: var(--purple-500);
}

/* ------ Main | 3º conteúdo ------  */

section.main-content-3 {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  background-color: var(--gray-0);
  text-align: center;
  color: var(--gray-500);
  padding: 3.6rem 1.6rem 3.6rem 1.6rem;
  margin: -2rem auto auto auto;
  z-index: 2;
}

.main-content-3 h2 {
  font-size: 2.6rem;
  color: var(--purple-500);
  text-align: center;
}

.main-content-3 p {
  max-width: 90rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin: auto;
}

.main-content-3 .btnStartMain {
  display: block;
  max-width: 40rem;
  margin-top: 1.6rem;
}

/* ---- wave border ----  */
section.wave-border {
  background-color: var(--gray-0);
  position: relative;
  z-index: 1;
}

.wave-border img {
  width: 100%;
}

footer {
  position: relative;
  z-index: 4;
  margin-top: -1rem;
}

@media screen and (max-width: 797px) {

  .btnStart{
    display: none;
  }

  .btnStartMain {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: auto;
  }

  .homeMain {
    background: url('/src/public/img/cloud-mobile.svg') no-repeat;
    background-size: contain; 
    background-position: center 2rem; 
  }

  .left-content {
    margin-top: 10vh;
  }

  .right-content {
    margin-top: 8rem;
  }

}

@media screen and (min-width: 798px) {

  .homeMain {
    max-width: 2000px;
    margin-top: 4rem;
    background: url('/src/public/img/cloud-desktop.svg') no-repeat;
    background-size: contain; 
    background-position: center 0rem;
  }
  
  .left-content {
    margin-top: -12rem;
  }

  .btnStartMain {
    display: none;
  }

  .main-content {
    color: var(--black-900);
  }

  .main-content > h2 {
    font-size: 3.2rem;
    margin-bottom: 3.6rem;
  }

  .card-group {
    max-width: 120rem;
    padding: 3rem 2rem 3rem 2rem;

    margin: auto;
  }

  .card-group > h2 {
    font-size: 2.8rem;
    margin-bottom: 4rem;
  }

  .card-container {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  .card {
    width: 25rem;
    height: 24rem;
  }

  .card img {
    width: 9rem;
    height: 10rem;
  }

  .card h3 {
    margin-top: 1.8rem;
  }

  /* ---- Main | 2º conteúdo ----  */

  section.main-content-2 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 5rem;
    padding-bottom: 10rem;
  }

  .main-content-2 h2 {
    flex-basis: 100%;
    margin-bottom: 5rem;
  }

  .main-content-2 p {
    flex-basis: 30%;
    line-height: 2.4rem;
    font-size: 2rem;
    margin: auto 0;
  }

  .main-content-2 div {
    display: flex;
  }

  .main-content-2 div img {
    max-width: 20rem;
    display: inline-block;
    margin: auto;
  }

  .main-content-2 div h3  {
    font-size: 3.2rem;
  }

  .main-content-2 div p {
    font-size: 1.8rem;
    margin-top: 8px;
    margin-bottom: 3.6rem;
  }

  .main-content-2 i {
    font-size: 2.8rem;
  }

  .main-content-2 div li {
    font-size: 2rem;
  }

  /* ---- Main | 3º conteúdo ----  */

  section.main-content-3 {
    gap: 6rem;
    padding: 8rem 1.6rem 5.6rem 1.6rem;
  }

  .main-content-3 h2 {
    font-size: 3.2rem;
  }

  .main-content-3 .btnStartMain {
    max-width: 40rem;
  }

  /* ---- wave border ----   */
  section.wave-border {
    display: flex;
    flex-wrap: wrap;
  }

  .wvleft, .wvright {
    flex: 1;
    width: 100%;
    background-color: var(--purple-500);
  }

  section.wave-border img {
    max-width: 1400px;
  }
}