/* --- Breakpoint para tablets e desktop ----- */

@media screen and (min-width: 798px) {
  nav {
    height: 100%;
    display: grid;
    grid-template-columns: auto auto 1fr; 
    gap: 4rem; 
    align-items: center; 

    padding: 2.5rem 4rem;
  }

  nav .btnStart {
    justify-self: end;
  }

  .nav-list li a {
    padding-block: 1px;
    position: relative;
  }

  .nav-list li a::after {
   content: '';
   width: 0%;
   height: 3px;
   background-color: var( --purple-500);
   position: absolute;
   left: 0;
   bottom: -6px;

   transition: 0.5s;
  }

  .nav-list li a:hover::after {
    width: 100%;
  }

  section:first-child {
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    max-height: 100%;
    align-items: stretch;
    gap: 1.6rem;
    padding: 10rem 0 0;

    margin: auto;
  }

  section.pageMain {
    padding: 8rem 0 0;
  }
  
  .left-content {
    align-self: center;
    gap: 1.6rem;
    padding: 1.6rem;
    margin-top: -12rem;
  }

  .left-content h1 {
    font-size: 3.2rem;
  }

  .left-content p {
    font-size: 1.6rem;
  }
  
  .right-content {
    display: flex; 
    justify-content: flex-end;
    height: 100%;
  }
  
  .right-content img {
    max-width: 60rem;
    height: auto;
    object-fit: contain;
  }

}