@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*10px*/
  --font-default: "Fredoka", serif;

  /* Colors */
  --black-900: #000000;

  --gray-0: #FFFFFF;
  --gray-50: #F5F5F5;
  --gray-100: #FAFAFA;
  --gray-200: #EAEAEA;
  --gray-250: #E0E0E0;
  --gray-300: #AEADB3;
  --gray-400: #A8A29E;
  --gray-500: #71717A;
  --gray-950: #020617;
  
  --purple-50: #EDE9FE;
  --purple-100: #DDD6FE;
  --purple-500: #583BBF;
  --purple-800: #260259;
  --purple-850: #340773;
  --purple-900: rgba(37, 25, 81, 0.20);

  --pink-500: #D96A93;
  --pink-900: #8C455F;
  --green-400: #3BBF8B;
  --green-600: #84CC16;
  --red-500: #FF3B30;
}


/* bloqueia a rolagem quando o menu está aberto */
body.no-scroll, html.no-scroll {
  overflow-y: hidden; 
}

body {
  font-size: 1.6rem;
  font-family: var(--font-default);
  background-color: var(--gray-100);

  overflow-x: hidden;
}

/* --------- Barra de Navegação --------  */
header {
 background-color: var(--purple-500);
}

nav {
  background-color: var(--gray-0);

  height: 8rem;
  padding: 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  border-radius: 0 0rem 0.8rem 0.8rem;
  box-shadow: 0 2px 8px var(--purple-900);
}

a {
  text-decoration: none;
  color: var(--gray-0);
}

#logo{
  width: 10rem;
  pointer-events: none;
}

.nav-list {
  display: flex;
  gap: 1.6rem;
  list-style: none;
}

.nav-list a {
  font-size: 1.8rem;
  color: var(--purple-500);
  padding-block: 1.6rem;
}

.mobile-menu {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
}

.btnClose {
  display: none;
  cursor: pointer;
}

.btnDefault {
  background-color: var(--purple-500);
  font-family: var(--font-default);
  font-weight: bolder;
  font-size: 1.4rem;
  color: var(--gray-0);
  text-transform: uppercase;

  border-radius: 0.8rem;
  padding: 1.6rem 3rem;
  box-shadow: 0px 6px 0 var(--purple-800);

  transition: transform 200ms;
}

.btnStart {
  display: block;
}

.btnDefault:active {
  transform: scale(96%);
}

/* ----- Menu Mobile -------  */
@media (max-width: 797px) {

  .btnStart {
    display: none;
  }

  .logoMenu {
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    width: 12rem;
  }

  nav a:first-child {
    order: 1;
    margin: 0 auto; 
  }

  .mobile-menu {
    display: block;
    background: none;
    padding: 2.4rem;
    cursor: pointer;
    position: relative;
  }

  .mobile-menu img {
    position: absolute;
    inset: 0;
    width: 100%;
  }

  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    transform: translateX(-100%);
    z-index: 10;
    overflow-x: hidden;
    
    transition: transform 300ms ease-in;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;

    padding: 2.8rem;
    margin-top: 10rem; 
  }

  .nav-list li {
    width: 100%;
    color: var(--gray-300);
    border-radius: 9999px;
  }

  .nav-list a {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem 3rem;
    color: var(--gray-950);
  }

  .nav-list li a.active {
    background-color: var(--gray-200);
    border-radius: 9999px;
  }

  .nav-list li a.active i {
    color: var(--gray-950);
  }

  .nav-list a:focus {
    outline: 2px solid var(--gray-950);
    border-radius: 9999px;

    backdrop-filter: contrast(90%);
  }

  .nav-list i {
    color: var(--gray-300);
    font-size: 2.5rem;
  }

  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--gray-100);
    width: 90vw;
    height: 100%;
    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: var(--purple-500) transparent;
  }

  .nav-menu::after {
    content: '';
    position: absolute;
    inset: 0; 
    width: 100%; 
    height: 100%; 
    background-color: var(--purple-900);
    transform: translate(-100vw);
    z-index: -1;

    transition: transform 500ms ease;
  }

  /* ------- button close menu -----  */
  .btnClose {
    display: block;
    position: absolute;
    top: 2.6rem;
    right: 2rem;
    background: none;
    border: none;
    padding: 0;
  }

  .btnClose i {
    color: var(--gray-950);
    font-size: 4rem;
  }
}

.nav-menu.active {
  transform: translateX(0);
}

.nav-menu.active::after {
  backdrop-filter: brightness(50%);
  transform: translate(0);
}

/* -------- Loading Effect ------  */
.loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid var(--purple-500);
  border-top-color: transparent;
  animation: rot1 0.7s linear infinite;
}

@keyframes rot1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------- Main | #app --------  */
#main-page {
  color: white;
  background-color: var(--purple-500);
}

section:not(:first-of-type) {
  background-color: var(--gray-100);
}

section:first-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.4rem;

  background-color: var(--purple-500);
  padding: 0 2.4rem;
}

/* ------- main principal de cada pagina -----  */
.left-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin: 4.4rem 0 0;
}

.left-content h2 {
  font-size: 1.6rem;
  color: var(--pink-500);
}

.left-content p {
  line-height: 2rem;
  align-self: center;
}

.right-content {
  max-width: 100%;
}

.right-content img {
  display: block;
  max-width: 60rem;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: auto;
}

/* ---- Conteúdo secundário -----  */

section.main-content {
  padding: 3.6rem 1.6rem;
}

.main-content > h2 {
  margin-bottom: 3.6rem;
}

.titleSection {
  color: var(--purple-500);
  font-size: 2.8rem;
  text-align: center;
}

/* ---- Componentes -----  */

.card {
  color: var(--black-900);
  background-color: var(--purple-50);
  border-radius: 8px;
}


/* ------- footer -------  */
footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  background-color: var(--purple-500);
  color: var(--gray-0);

  margin-top: 8.4rem;
}

footer div {
  padding: 1.6rem;
}

footer h2 {
  font-weight: 500;
}

footer p {
  color: var(--gray-250);
  font-weight: normal;
  margin-top: 4px;
  opacity: 90%;
}

.contact img:hover {
  transform: scale(1.2);
}

.contact img{
  padding-block: 1.6rem;
  width: 4rem;
}

.contact img:nth-child(1){
  margin-right: 6px;
}

footer hr {
  width: 100%;
  background-color: var(--gray-0);
}

footer .copyright {
  text-align: center;
  padding: 2rem;
}

footer .copyright p:first-child {
  font-size: 1.8rem;
  color: var(--gray-0);
  opacity: 100%;
}

footer .copyright p:last-child {
  font-size: 1.4rem;
}